// global btn
$PrimaryBtn : #06D6A0;
$PrimaryBtnTxtClr : rgb(52, 61, 58);
$PrimaryBtnFontSz : 1.5rem;
$PrimaryBtnWidth : 8rem;
$PrimaryBtnBorderRadius : 7%;
$PrimaryBtnBoxShadow : 5px 5px 5px GRAY;
$PrimaryBtnMargin : 5px;
$PrimaryBtnFont :'Signika Negative', sans-serif;



$PrimaryBckgrnd : #f5f5f5;
$BtnHover : #EF476F;
$HeaderText : #fcfcfc;
$MainText : rgb(52, 61, 58);
$MainTextFont : 'Signika Negative', sans-serif;
$BigTxt : 10rem;
$MedTxt : 4.5rem;
$SmallTxt : 2rem
