.Ball {
    margin-left: 50%;
    width: 300px;
    height: 325px;
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 220px;
    animation: bounce 0.9s 10;
  }
  
  @keyframes bounce {
    10%{
      width: 300px;
      height: 300px;
  
    }
    30%{
      height: 300px;
      width: 300px;
    }
    50%{
      width: 335px;
      height: 200px;
      transform: translateY(300px);
    }
    75%{
      height: 300px;
      width: 335px;
    }
    100%{
      transform: translateY(0px);
    }
  
  }
