
.App {
    color: #EAEAEA;
   text-align: center;

}

a {
    list-style: none;
    text-decoration: none;
    font-weight: medium;
}

ul {
    list-style: none;
    font-size: 1.5rem;
}

body {
    display: flex;
    justify-content:space-around ;
    align-items: center;
    
}

header {
    display: flex;
    justify-content: flex-end;
    width: 90rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

li:hover {
    color: #DD6E42;
}