
.App {
    color: #EAEAEA;
   text-align: center;

}

form {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

fieldset {
  width: 10rem;
  margin-right: auto;
  margin-left: auto;
}

a {
    list-style: none;
    text-decoration: none;
    font-weight: medium;
}

ul {
    list-style: none;
    font-size: 1.5rem;
}

li:hover {
    color: tomato;
}

body {
    display: flex;
    justify-content:space-around ;
    align-items: center;
    
}

header {
    display: flex;
    justify-content: flex-end;
    width: 90rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.Ball {
    width: 300px;
    height: 355px;
    border-radius: 50%;
    position: relative;
    animation: bounce .7s 2;
  
  }
  
  @keyframes bounce {
    10%{
      width: 300px;
      height: 350px;
  
    }
    30%{
      height: 350px;
      width: 300px;
    }
    50%{
      width: 355px;
      height: 200px;
      transform: translateY(170px);
      
    }
    75%{
      height: 350px;
      width: 335px;
    }
    100%{
      transform: translateY(0px);
    }
  
  }
