
.App {
    color: #EAEAEA;
   text-align: center;

}

a {
    list-style: none;
    text-decoration: none;
    font-weight: medium;
}

ul {
    list-style: none;
    font-size: 1.5rem;
}

body {
    display: flex;
    justify-content:space-around ;
    align-items: center;
    
}

header {
    display: flex;
    justify-content: flex-end;
    width: 90rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

li:hover {
    color: tomato;
}

.Ball {
    width: 300px;
    height: 355px;
    border-radius: 50%;
    position: relative;
    animation: bounce 0.5s 1;
  
  }
  
  @keyframes bounce {
    10%{
      width: 300px;
      height: 300px;
  
    }
    30%{
      height: 300px;
      width: 300px;
    }
    50%{
      width: 335px;
      height: 200px;
      transform: translateY(170px);
      
    }
    75%{
      height: 300px;
      width: 335px;
    }
    100%{
      transform: translateY(0px);
    }
  
  }
